@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-size: 10px;

    --red: #761111
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*/ Header styling /*/

header {
    width: 100%;
}

#headerDesktop {
    gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
}

.headerLink {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.headerLinkActive {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.headerLinkMobileText {
    color: #ffffff;
}


@media(max-width: 600px) {
    #headerDesktop {
        display: none;
    }

    #headerMobileWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #headerMobileHamburger {
        background-image: url("./assets/Header_icon_red.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 18px;
        width: 25px;
        margin-top: 30px;
        margin-left: 40px;
    }

    @keyframes  hamBurgerActivate{
        from {height: 0;}
        to {height: 200px}
    }

    .headerMobileDeactivated {
        width: 100%;
        height: 0;
        display: none;
    }

    .headerMobileActivated {
        width: 100%;
        height: 200px;
        background-color: var(--red);
        animation: hamBurgerActivate 0.5s ease-in-out;
        z-index: 1000;
        position: fixed;
        overflow: hidden;
        padding-top: 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    #headerMobileHamburgerClose {
        background-image: url("./assets/Header_icon_white.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 18px;
        width: 25px;
        margin-bottom: 25px;
    }
}

