@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-size: 10px;
    text-decoration: none;
    color: #080808;

    --red: #761111
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*/ Header styling /*/

header {
    width: 100%;
    margin-bottom: 7rem;
}

#headerDesktop {
    gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
}

.headerLink {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.headerLinkActive {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    color: var(--red);
}

.headerLinkMobileText {
    color: #ffffff;
}

#headerMobileWrapper {
    display: none;
}


@media(max-width: 600px) {

    * {
        font-size: 8px;
    }
    #headerDesktop {
        display: none;
    }

    #headerMobileWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #headerMobileHamburger {
        background-image: url("./assets/Header_icon_red.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 18px;
        width: 25px;
        margin-top: 30px;
        margin-left: 40px;
    }

    @keyframes  hamBurgerActivate{
        from {height: 0;}
        to {height: 200px}
    }

    .headerMobileDeactivated {
        width: 100%;
        height: 0;
        display: none;
    }

    .headerMobileActivated {
        width: 100%;
        height: 230px;
        background-color: rgba(8, 8, 8, 0.05);
        animation: hamBurgerActivate 0.5s ease-in-out;
        z-index: 1000;
        position: fixed;
        overflow: hidden;
        padding-top: 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
    }

    #headerMobileHamburgerClose {
        background-image: url("./assets/Header_icon_red.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 18px;
        width: 25px;
        margin-bottom: 25px;
    }
}

/*/ Form styling /*/

#title {
    font-family: "Cinzel";
    color: var(--red);
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#guestForm {
    width: 80%;
    max-width: 500px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#description {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.input {
    width: 100%;
    height: fit-content;
    margin-bottom: 2.5rem;
}

input:disabled {
    background-color: #ffffff;
}

input {
    width: 100%;
    height: 5rem;
    border: 1px solid var(--red);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
    border: 2px solid var(--red);
}

.inputTitle {
    font-family: "Inter";
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--red);
    position: relative;
    left: 15px;
    background-color: #ffffff;
    padding: 0 10px;
    top: 0.6rem;
    display: inline-block;

}

#submitBtn {
    margin-top: 1.5rem;
    width: 12.5rem;
    height: 3.5rem;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20rem;
}

#submitTxt {
    font-weight: 600;
    font-family: "Inter";
    font-size: 1.5rem;
    color: #ffffff;
    display: flex;
}

#submitSpinner {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid #8F2727;
    border-left: 2px solid #ffffff;
    display: none;
    animation: submitSpinnerAnimation 1s ease-in-out infinite;
}

@keyframes submitSpinnerAnimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*/ Footer styling /*/

footer {
    background-color: var(--red);
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
}

#footerBranding {
    width: max-content;
    height: fit-content;
}

#footerLogo {
    width: 175px;
    margin-bottom: 20px;
}

#footerBrandDivider {
    width: 50px;
    height: 0;
    border: 2px solid #ffffff;
    margin-bottom: 12px;
}

.footerBrandDetail {
    font-family: 300;
    font-size: 12px;
    color: #ffffff;
    font-family: "Inter";
    font-weight: 300;
    margin-bottom: 5px;
}

.footerBrandDetailReg{
    font-family: 300;
    font-size: 12px;
    color: #ffffff;
    font-family: "Inter";
    font-weight: 400;
}

#copyright {
    font-family: "Inter";
    font-weight: 300;
    font-size: 8px;
    margin-top: 20px;
    color: #ffffff;
    width: fit-content;
}

#footerVerticalDivider {
    height: 125px;
    width: 1px;
    background-color: #ffffff;
    margin-left: 50px;
}

#footerMobileDivider {
    display: none;
}

@media(max-width: 600px) {
    footer {
    background-color: var(--red);
    padding-top: 25px;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }

    #footerVerticalDivider {
    display: none;
    }

    #footerMobileDivider {
        width: 80%;
        height: 1px;
        background-color: #ffffff;
        display: flex;
        margin-top: 50px;
    }
}

#error {
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 500;
    margin-bottom: 25px;
    color: #FF0000;
}

#successContainer {
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.TYredText {
    color: var(--red);
}